<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>EAAccessoryExample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4771EAF71E691DA000B8B4E1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4771EB101E691DA000B8B4E1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4771EB1B1E691DA000B8B4E1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
